{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        here is the about page.
        <strong>This tutorial has been put together by me</strong>
    </div>
    <div>
        <a href="/rango/">Index</a><br/>
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango"/>
        <br>
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat"/>
    </div>
{% endblock %}