{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        hey there partner! <br/>
        <strong>{{ boldmessage }}</strong><br/>
    </div>
    <div>
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango">
    </div>

    <div>
        <h2>Most Liked Categories</h2>
        {% if categories %}
            {% for category in categories %}
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
    </div>

    <div>
        <h2>Most Viewed Pages</h2>
        {% if pages %}
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>

{% endblock %}